@media(max-width: 767px)
	#title h2
		display: none

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
	#logo-img
		width: 80px
	.header-left
		width: 33.33%
	.header-right
		width: 66.66%
	h1
		font-size: 50px
	h2 
		font-size: 38px
	h3
		font-size: 32px
	h4
		font-size: 30px
	p 
		font-size: 30px
	.sub-list 
		font-size: 26px
	div#details ul#extras
		font-size: 30px
	#title h2
		display: none
	.item > row > .col-xs-12
		width: 100% !important
	div.item 
		margin-bottom: 60px
	#resume-text
		font-size: 46px
		ul.clean-list
			li:nth-child(2)
				font-size: 36px
		ul#resume-skills
			li 
				font-size: 36px
	.btn.btn-blue
		border-width: 5px
		font-size: 28px
	span.glyphicon
		font-size: 36px
	footer
		font-size: 30px

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
	#logo-img
		width: 80px
	.header-left
		width: 33.33%
	.header-right
		width: 66.66%
	h1
		font-size: 50px
	h2 
		font-size: 38px
	h3
		font-size: 32px
	h4
		font-size: 30px
	p 
		font-size: 30px
	.sub-list 
		font-size: 26px
	div#details ul#extras
		font-size: 30px
	#title h2
		display: none
	.item > row > .col-xs-12
		width: 100% !important
	div.item 
		margin-bottom: 60px
	#resume-text
		font-size: 46px
		ul.clean-list
			li:nth-child(2)
				font-size: 36px
		ul#resume-skills
			li 
				font-size: 36px
	.btn.btn-blue
		border-width: 5px
		font-size: 28px
	span.glyphicon
		font-size: 36px
	footer
		font-size: 30px

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2)
	#logo-img
		width: 80px
	.header-left
		width: 33.33%
	.header-right
		width: 66.66%
	h1
		font-size: 50px
	h2 
		font-size: 38px
	h3
		font-size: 32px
	h4
		font-size: 30px
	p 
		font-size: 30px
	.sub-list 
		font-size: 26px
	div#details ul#extras
		font-size: 30px
	#title h2
		display: none
	.item > row > .col-xs-12
		width: 100% !important
	div.item 
		margin-bottom: 60px
	#resume-text
		font-size: 46px
		ul.clean-list
			li:nth-child(2)
				font-size: 36px
		ul#resume-skills
			li 
				font-size: 36px
	.btn.btn-blue
		border-width: 5px
		font-size: 28px
	span.glyphicon
		font-size: 36px
	footer
		font-size: 30px

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)
	#logo-img
		width: 80px
	.header-left
		width: 33.33%
	.header-right
		width: 66.66%
	h1
		font-size: 50px
	h2 
		font-size: 38px
	h3
		font-size: 32px
	h4
		font-size: 30px
	p 
		font-size: 30px
	.sub-list 
		font-size: 26px
	div#details ul#extras
		font-size: 30px
	#title h2
		display: none
	.item > row > .col-xs-12
		width: 100% !important
	div.item 
		margin-bottom: 60px
	#resume-text
		font-size: 46px
		ul.clean-list
			li:nth-child(2)
				font-size: 36px
		ul#resume-skills
			li 
				font-size: 36px
	.btn.btn-blue
		border-width: 5px
		font-size: 28px
	span.glyphicon
		font-size: 36px
	footer
		font-size: 30px