body
	font-family: "Gandhi Sans", sans-serif
	font-size: 12pt
	font-weight: 300
h1
	font-family: "Adobe Arabic", serif
	font-size: 38pt
	margin: 0
h2 
	font-size: 16pt
	font-weight: 300
	margin: 0

.clean-list
	list-style-type: none
	padding: 10px 2px

aside
	border-radius: 2px
	padding: 5px
	margin: 20px 0
div#content
	padding: 10px
	img 
		width: 70%
		margin: 0 auto
		display: block