body
	font-family: "Gandhi Sans", sans-serif
	font-size: 12pt
	font-weight: 300
h1
	font-family: "Adobe Arabic", serif
	font-size: 38pt
	margin: 0
h2 
	font-size: 16pt
	font-weight: 300
	margin: 0

.clean-list
	list-style-type: none
	padding: 10px 2px

aside#details
	border-radius: 2px
	padding: 5px
	margin: 20px 0
	display: block
	position: fixed
div#content
	position: relative
	display: block
	padding: 10px
	a
		width: 80%
		margin: 0 auto
		display: block
		img 
			width: 100%
	#swimsuits
		width: 80%
		margin: 0 auto
		a
			width: 50%
			float: left
	video
		width: 80%
		margin: 0 auto
		display: block