body {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #212121;
  position: relative; }

h1 {
  font-size: 36px;
  margin: 0 0 10px 0; }
  h1 a {
    color: #000000; }
    h1 a:hover {
      color: #000000; }

h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px;
  color: #7cadc1;
  margin-top: 15px; }

p {
  font-size: 13px;
  vertical-align: middle; }

a {
  color: #587e8e; }
  a:hover {
    text-decoration: none;
    color: #295D73;
    transition: color 0.2s;
    cursor: pointer; }
  a:focus {
    color: #295D73; }

.btn.btn-blue {
  border-radius: 0;
  border: 1px solid #6796A9;
  color: #6796A9;
  transition: 0.6s all; }
  .btn.btn-blue:hover {
    background: #6796A9;
    color: #ffffff; }

#logo-img {
  width: 60px; }

.m-t-sm {
  margin-top: 10px; }

.m-b {
  margin-bottom: 30px; }

.clean-list {
  list-style-type: none;
  padding: 5px 0; }

.inline-list li {
  display: inline-block;
  margin: 0 10px 0 0; }

.sub-list {
  color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 12px; }

div#details {
  border-radius: 2px;
  padding: 0 40px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden; }
  div#details #title {
    margin: 20px 15px 15px 0;
    overflow: hidden; }
    div#details #title h1 {
      margin-right: 10px; }
    div#details #title h2 {
      margin-top: 23px;
      font-size: 16px; }
  div#details ul#extras {
    font-size: 16px;
    float: right;
    margin: 36px 0; }
    div#details ul#extras a {
      letter-spacing: 1px; }
    div#details ul#extras a.active {
      font-weight: bold;
      color: #295D73;
      border-bottom: 1px solid #295D73; }
  div#details ul.social-icons {
    overflow: auto; }
    div#details ul.social-icons li {
      display: inline-block;
      padding: 0 10px 0 3px;
      float: left; }

div#content {
  background-color: #4c1026;
  color: #BBBDC0;
  overflow: hidden;
  width: 100%;
  padding: 40px 40px 0; }
  div#content .item {
    margin-bottom: 60px;
    padding: 0; }
  div#content #resume-text {
    font-size: 16px; }
    div#content #resume-text h3 {
      color: #ffffff; }
      div#content #resume-text h3 i {
        opacity: 0.4; }
      div#content #resume-text h3 a {
        color: #ffffff; }
        div#content #resume-text h3 a:focus {
          text-decoration: none; }
        div#content #resume-text h3 a:nth-child(1) {
          border-bottom: 1px solid #ffffff; }
    div#content #resume-text ul.clean-list {
      margin-bottom: 20px; }
      div#content #resume-text ul.clean-list li:nth-child(1) {
        color: #ffffff; }
      div#content #resume-text ul.clean-list li:nth-child(2) {
        font-size: 13px; }
    div#content #resume-text ul#resume-skills {
      list-style-type: none;
      padding: 0; }
      div#content #resume-text ul#resume-skills li {
        background-color: rgba(117, 117, 117, 0.4);
        display: inline-block;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 12px;
        margin-bottom: 5px; }
  div#content a {
    color: #6796A9; }
    div#content a:hover {
      color: #ffffff; }
    div#content a img {
      width: 100%;
      box-shadow: 0px 3px 13px 0px #2e2e2e; }
  div#content #swimsuits, div#content .logos {
    width: 100%;
    margin: 0 auto; }
    div#content #swimsuits a, div#content .logos a {
      width: 50%;
      float: left;
      padding: 10px; }
  div#content video {
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 0px 3px 13px 0px #2e2e2e; }
  div#content p {
    padding: 5px 0; }
    div#content p strong {
      color: #ffffff; }

span.glyphicon {
  margin: 10px 0;
  color: #ffffff;
  font-size: 13px;
  background-color: rgba(117, 117, 117, 0.4);
  padding: 10px; }

footer {
  font-size: 13px;
  color: #353535;
  padding: 20px 30px; }
  footer p {
    margin: 0; }
  footer ul.social-icons {
    padding: 0;
    margin: 0; }
    footer ul.social-icons li {
      display: inline-block;
      padding: 0 10px; }

@media(max-width: 767px) {
  #title h2 {
    display: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #logo-img {
    width: 100px; }

  .header-left {
    width: 33.33%; }

  .header-right {
    width: 66.66%; }

  h1 {
    font-size: 50px; }

  h2 {
    font-size: 38px; }

  h3 {
    font-size: 32px; }

  h4 {
    font-size: 50px; }

  p {
    font-size: 38px;
    margin-bottom: 60px; }

  .sub-list {
    font-size: 26px; }

  div#details ul#extras {
    font-size: 40px; }
    div#details ul#extras a.active {
      border-bottom: 3px solid #295D73; }

  #title h2 {
    display: none; }

  .item {
    margin-bottom: 200px; }

  .item > .row > .col-xs-12 {
    width: 100% !important; }

  div#content p {
    padding: 5 0 50px 0;
    border-left: 0; }

  div#content #resume-text {
    font-size: 46px; }
    div#content #resume-text h4:not(:nth-child(2)) {
      margin-top: 80px; }
    div#content #resume-text ul.clean-list li {
      font-size: 46px; }
    div#content #resume-text ul.clean-list li:nth-child(2) {
      font-size: 36px; }
    div#content #resume-text ul#resume-skills li {
      font-size: 40px; }

  .btn.btn-blue {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    font-weight: bold;
    font-size: 46px !important;
    background-color: #6796A9;
    color: #ffffff !important; }

  footer {
    font-size: 30px; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #logo-img {
    width: 100px; }

  .header-left {
    width: 33.33%; }

  .header-right {
    width: 66.66%; }

  h1 {
    font-size: 50px; }

  h2 {
    font-size: 38px; }

  h3 {
    font-size: 32px; }

  h4 {
    font-size: 50px; }

  p {
    font-size: 38px;
    margin-bottom: 60px; }

  .sub-list {
    font-size: 26px; }

  div#details ul#extras {
    font-size: 40px; }

  #title h2 {
    display: none; }

  .item {
    margin-bottom: 200px; }

  .item > .row > .col-xs-12 {
    width: 100% !important; }

  div#content p {
    padding: 5 0 50px 0;
    border-left: 0; }

  div#content #resume-text {
    font-size: 46px; }
    div#content #resume-text h4:not(:nth-child(2)) {
      margin-top: 80px; }
    div#content #resume-text ul.clean-list li {
      font-size: 46px; }
    div#content #resume-text ul.clean-list li:nth-child(2) {
      font-size: 36px; }
    div#content #resume-text ul#resume-skills li {
      font-size: 40px; }

  .btn.btn-blue {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    font-weight: bold;
    font-size: 46px !important;
    background-color: #6796A9;
    color: #ffffff !important; }

  footer {
    font-size: 30px; } }
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  #logo-img {
    width: 100px; }

  .header-left {
    width: 33.33%; }

  .header-right {
    width: 66.66%; }

  h1 {
    font-size: 50px; }

  h2 {
    font-size: 38px; }

  h3 {
    font-size: 32px; }

  h4 {
    font-size: 50px; }

  p {
    font-size: 38px;
    margin-bottom: 60px; }

  .sub-list {
    font-size: 26px; }

  div#details ul#extras {
    font-size: 40px; }

  #title h2 {
    display: none; }

  .item {
    margin-bottom: 200px; }

  .item > .row > .col-xs-12 {
    width: 100% !important; }

  div#content p {
    padding: 5 0 50px 0;
    border-left: 0; }

  div#content #resume-text {
    font-size: 46px; }
    div#content #resume-text h4:not(:nth-child(2)) {
      margin-top: 80px; }
    div#content #resume-text ul.clean-list li {
      font-size: 46px; }
    div#content #resume-text ul.clean-list li:nth-child(2) {
      font-size: 36px; }
    div#content #resume-text ul#resume-skills li {
      font-size: 40px; }

  .btn.btn-blue {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    font-weight: bold;
    font-size: 46px !important;
    background-color: #6796A9;
    color: #ffffff !important; }

  footer {
    font-size: 30px; } }
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #logo-img {
    width: 100px; }

  .header-left {
    width: 33.33%; }

  .header-right {
    width: 66.66%; }

  h1 {
    font-size: 50px; }

  h2 {
    font-size: 38px; }

  h3 {
    font-size: 32px; }

  h4 {
    font-size: 50px; }

  p {
    font-size: 38px;
    margin-bottom: 60px; }

  .sub-list {
    font-size: 26px; }

  div#details ul#extras {
    font-size: 40px; }

  #title h2 {
    display: none; }

  .item {
    margin-bottom: 200px; }

  .item > .row > .col-xs-12 {
    width: 100% !important; }

  div#content p {
    padding: 5 0 50px 0;
    border-left: 0; }

  div#content #resume-text {
    font-size: 46px; }
    div#content #resume-text h4:not(:nth-child(2)) {
      margin-top: 80px; }
    div#content #resume-text ul.clean-list li {
      font-size: 46px; }
    div#content #resume-text ul.clean-list li:nth-child(2) {
      font-size: 36px; }
    div#content #resume-text ul#resume-skills li {
      font-size: 40px; }

  .btn.btn-blue {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    font-weight: bold;
    font-size: 46px !important;
    background-color: #6796A9;
    color: #ffffff !important; }

  footer {
    font-size: 30px; } }

/*# sourceMappingURL=main.css.map */
