html {
  height: 100%; }

body {
  position: relative;
  background: #ffffff;
  color: #333;
  font-family: "Lato", sans-serif;
  margin: 79px 0 60px 0; }

h1, h2 {
  font-family: "Prata", serif;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400; }

h2 {
  margin-bottom: 10px;
  line-height: 39px; }

h3 {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 15px; }

h4 {
  font-size: 16px;
  margin: 0 0 5px 0; }

h5 {
  font-size: 12px; }

a {
  color: #b76a33; }
  a:hover, a:focus {
    color: #a35e2d; }

.m-b {
  margin-bottom: 40px; }

.no-padding {
  padding: 0 !important; }

header {
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1; }

footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1; }
  footer p {
    margin: 0; }

.navi {
  text-align: right; }
  .navi li > a {
    display: block;
    padding: 10px 15px; }

.inline-list {
  padding: 0;
  margin: 0; }
  .inline-list li {
    display: inline-block; }

.social-links {
  text-align: right; }
  .social-links li a {
    padding: 10px;
    color: #333; }

.items-container {
  height: 100%;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0.3s; }
  .items-container .table {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 50px; }
    .items-container .table .table-cell {
      display: table-cell;
      padding: 20px 50px;
      vertical-align: middle; }
      .items-container .table .table-cell.cell-70 {
        width: 70%; }
      .items-container .table .table-cell.cell-60 {
        width: 60%; }
      .items-container .table .table-cell.cell-50 {
        width: 50%; }
      .items-container .table .table-cell.cell-40 {
        width: 40%; }
      .items-container .table .table-cell.cell-30 {
        width: 30%; }

.img-wrapper img, .img-wrapper video {
  width: 100%; }

.tech-items li {
  background: rgba(204, 198, 180, 0.2);
  padding: 3px 8px;
  margin: 0 5px 7px 0; }

#work, #about, #jumbotron {
  padding: 80px 0;
  margin-top: -80px; }

#jumbotron .table-cell {
  padding: 20% 100px; }

.work-spinner ul > li > a {
  padding: 10px;
  display: block; }

.quote {
  line-height: 25px;
  font-weight: 300; }
  .quote .quoted-by {
    font-weight: 700;
    display: block; }

.slider-container {
  padding: 0 40px; }

.slick-prev {
  left: 0px; }

.slick-next {
  right: 0; }

.slick-prev:before, .slick-next:before, .slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #b76a33; }

.slick-dots li button:before {
  font-size: 10px; }

.slick-slide {
  outline-color: #ffffff; }

.graphic-items li {
  width: 19%;
  padding: 20px; }
  .graphic-items li a {
    display: block;
    opacity: 0.75;
    transition: opacity 0.5s; }
    .graphic-items li a:hover {
      opacity: 1; }
  .graphic-items li img {
    width: 100%; }

.zoom {
  cursor: zoom-in; }

@media(max-width: 900px) {
  #jumbotron .table-cell {
    padding: 20% 60px; }

  .items-container .table .table-cell {
    display: block;
    width: 100% !important; }

  .graphic-items li {
    width: 33%; } }
@media(max-width: 570px) {
  #jumbotron .table-cell {
    padding: 20% 30px; }

  .items-container .table {
    padding: 0 30px; }

  .items-container .table .table-cell {
    padding: 20px 30px; }

  .graphic-items li {
    width: 70%;
    padding: 30px 0; }

  .slider-container {
    padding: 0 30px; } }

/*# sourceMappingURL=v2.css.map */
